<div class="row">
 <div class="col-sm-4 offset-md-4">
 <div class="card card-body">
    <form (submit)="submitUser()">
        <div class="form-group">
            <input type="text" name="fullname" [(ngModel)]="user.fullname" 
            class="form-control" placeholder="fullname" autofocus>
        </div>
        <div class="form-group">
            <input type="text" name="age" [(ngModel)]="user.age" 
            class="form-control" placeholder="age">
        </div>
        <div class="form-group">
            <input type="text" name="email" [(ngModel)]="user.email" 
            class="form-control" placeholder="email">
        </div>
        <div class="form-group">
            <input type="text" name="password" [(ngModel)]="user.password" 
            class="form-control" placeholder="password">
        </div>
        <button class="btn btn-primary btn-block">
            Save
        </button>
    </form>
 </div>
 </div>
</div>
